ol{
    margin:5pt 0}
p{
    margin:5pt 0}
td,th{
    border:thin solid purple;
    padding:2pt 5pt}
th{
    background-color:purple;
    color:white}
textarea{
    font-family:Arial,sans-serif;
    font-size:16pt}
